* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #0f0f0f;
    color: white;
}

/* NAVBAR */
nav {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    backdrop-filter: blur(6px);
}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

nav ul li a:hover {
    color: #ff3131;
}

/* HERO */
.hero {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1554284126-aa88f22d8b74?auto=format&fit=crop&w=1950&q=80') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
}

.hero h1 {
    font-size: 55px;
    font-weight: 800;
}

.hero p {
    margin-top: 20px;
    opacity: 0.9;
    font-size: 20px;
}

.btn {
    margin-top: 20px;
    padding: 12px 35px;
    background: #ff3131;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background: #cc0000;
}

/* SECTIONS */
.section {
    padding: 90px 50px;
    text-align: center;
}